* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1e1f22;
  color: white;
}

.header {
  background-color: #1e1f22;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mi-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buscador {
  width: 50%;
  height: 44px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #38393f;
  padding-left: 20px;
  color: #8f8f8f;
}

.boton {
  width: 10%;
  height: 44px;
  border-radius: 50px;
  background-color: salmon;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 670px) {
  .header {
    padding: 10px;
  }
  .buscador {
    width: 100%;
  }
  .boton {
    width: 30%;
  }
}

.div-content {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  font-weight: normal;
  font-size: 16px;
}

@media (max-width: 670px) {
  .div-content {
    width: 100%;
    margin: 0 0 0 0;
    padding: 15px;
  }
}

.mejor-resultado-text {
  color: white;
}

.result-item {
  border-radius: 15px;
  display: flex;
  padding: 13px 15px;
  margin-top: 15px;
  background-color: #38393f;
}

.result-img {
  width: 300px;
  max-height: 320px;
  border-radius: 10px;
}

.result-item-content {
  flex-grow: 1;
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item-title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.result-item-condition-text {
  font-size: 14px;
}

.result-item-condition {
  margin-top: 4px;
  font-size: 14px;
}

.result-item-sell-count {
  margin-bottom: 0;
  font-size: 14px;
}

.price-and-shipping {
}

.result-item-price {
  font-weight: bold;
  font-size: 28px;
  color: salmon;
}

.shipping {
  font-weight: bold;
  font-size: 14px;
  color: rgb(61, 169, 108);
}

.link-prod {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #38393f;
  display: grid;
}

.footer-text {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: #a5a5a5;
  align-self: center;
}
